<div class="info">
    <h2 class="location">
        <i class="fa-solid fa-street-view"><span style="font-family: Roboto,sans-serif">{{location}}</span></i>
    </h2>
    <p id="date">SAT | MAY'23 | 16:00</p>
    <h1 class="temp">{{tempval}} °C</h1>
    <h3 class="tempmin_max">Min {{temp}}°C | Max {%temp_max%} °C</h3>
</div>